#
# Apache config file fragment for wp-content for app Wordpress at ${site.hostname}${appconfig.context}
#
#
# Copyright (C) 2014 and later, Indie Computing Corp. All rights reserved. License: see package.
#

Options -Indexes
